@import "fonts";
@import "reset";
@import "vars";
@import "libs";
@import "global";

.wrapper {
    position: relative;
}

.header {
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 45px 0;
    }
}

.menu {
    padding-right: 15px;
    &__list {
        display: flex;
    }
    &__list-item {
        padding-left: 35px;
        padding-right: 45px;
    }
    &__list-link {
        @extend %title-font;
        color: rgba(54, 56, 56, 0.9);
        line-height: 22px; /* 137.5% */
    }
}

.logo {
    margin: 0 auto;
}

.rightside-menu.open-menu {
    transform: translateX(0);
}

.rightside-menu {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    transform: translateX(250%);
    width: 700px;
    background: rgba(255, 255, 255, 1);
    box-shadow: -4px 2px 15px 2px;
    text-align: center;
    transition: all ease 0.5s;
    z-index: 99;
    &__close {
        position: absolute;
        top: 40px;
        left: 50px;
    }
    &__logo {
        display: block;
        margin: 0 auto;
        padding-top: 124px;
        margin-bottom: 40px;
    }
    &__title {
        @extend %title-font;
        color: $colorTitle;
        font-size: 36px;
        line-height: 51px;
        padding-bottom: 17px;
        margin-bottom: 17px;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            margin: 0 auto;
            width: 252px;
            height: 1px;
            background: rgba(151, 151, 151, 1);
        }
    }
    &__text {
        margin: 0 auto;
        max-width: 483px;
        color: rgba(90, 90, 90, 1);
        line-height: 27px; /* 168.75% */
        margin-bottom: 75px;
    }
    &__image {
        display: block;
        margin: 0 auto;
    }
}

.top {
    position: relative;
    padding-bottom: 87px;
    &::after {
        content: "";
        position: absolute;
        inset: 0;
        width: 100%;
        height: 722px;
        background-image: url(../images/top_bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        z-index: -1;
    }
    &__slider-item {
        display: flex !important;
        align-items: center;
    }
    &__slider-img {
        margin-left: 8%;
    }
    &__slider-info {
        margin-left: 20px;
        width: 635px;
    }
    &__slider-title {
        @extend %title-font;
        color: $colorTitle;
        font-size: 110px;
        padding-bottom: 26px;
        margin-bottom: 26px;
        line-height: 135px;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 185px;
            height: 1px;
            background: rgba(151, 151, 151, 1);
        }
    }
    &__slider-text {
        color: rgba(90, 90, 90, 1);
    }
}

.slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    li {
        margin: 0 15px;
    }
    button {
        font-size: 0;
        width: 8px;
        height: 8px;
        background: $colorTitle;
        border-radius: 50%;
        cursor: pointer;
    }
}
li.slick-active {
    button {
        background: rgba(255, 239, 53, 1);
    }
}

.new-collection {
    padding-bottom: 104px;
    text-align: center;
    &__title {
        @extend %title-font;
        color: $colorTitle;
        font-size: 36px;
        line-height: 51px;
        padding-bottom: 25px;
        margin-bottom: 25px;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            width: 252px;
            height: 1px;
            margin: 0 auto;
            background: rgba(151, 151, 151, 1);
        }
    }
    &__text {
        max-width: 730px;
        margin: 0 auto;
        margin-bottom: 27px;
    }
}
.collection {
    display: flex;
    justify-content: center;
    margin: 0 -15px;
    &__item {
        padding: 0 15px;
        position: relative;
        display: inline-block;
        cursor: pointer;
        &:hover {
            .collection__item-info {
                opacity: 1;
            }
        }
    }
    &__item-info {
        opacity: 0;
        position: absolute;
        inset: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: rgba(255, 255, 255, 0.6);
        transition: all ease 0.5s;
    }
    &__item-title {
        @extend %title-font;
        color: $colorTitle;
        font-size: 20px;
        line-height: normal;
        padding-bottom: 19px;
        margin-bottom: 19px;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            width: 200px;
            height: 1px;
            margin: 0 auto;
            background: rgba(151, 151, 151, 1);
        }
    }
    &__item-text {
        font-size: 14px;
        font-weight: 600;
        line-height: 28px; /* 200% */
        color: rgba(112, 112, 112, 1);
    }
}

.about {
    padding: 172px 0 156px 0;
    position: relative;
    background: rgba(255, 255, 255, 0.8);
    &::after {
        content: "";
        position: absolute;
        inset: 0;
        background-image: url(../images/about_bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        z-index: -1;
    }
    &__title {
        max-width: 731px;
        @extend %title-font;
        color: $colorTitle;
        font-size: 60px;
        line-height: 80px;
        padding-bottom: 22px;
        margin-bottom: 22px;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 200px;
            height: 1px;
            background: rgba(151, 151, 151, 1);
        }
    }
    &__text {
        max-width: 540px;
        color: rgba(90, 90, 90, 1);
        line-height: 28px;
    }
}

.works {
    padding: 80px 0 55px 0;
    &__title {
        @extend %title-font;
        color: $colorTitle;
        font-size: 36px;
        line-height: 51px;
        text-align: center;
        margin-bottom: 40px;
    }
    &__box {
        display: flex;
        border-bottom: 2px solid rgba($colorTitle, .7);;
        position: relative;
        &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -6px;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: rgba($colorTitle, 1);
        }
    }
    &__box-item {
        width: 250px;
    }
    &__box-content {
        display: flex;
        align-items: center;
        margin-bottom: 14px;
    }
    &__box-item--production {
        margin-left: 340px;
        position: relative;
        &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            height: 20px;
            width: 2px;
            background: rgba($colorTitle, .7);
        }
    }
    &__box-item--consultation,
    &__box-item--production {
        padding-bottom: 40px;
    }
    &__box-item--measurements {
        width: 226px;
        padding-top: 40px;
        margin-left: 315px;
        position: relative;
        &::after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            height: 20px;
            width: 2px;
            background: rgba($colorTitle, .7);
        }
    } 
    &__box-img {
        margin-right: 10px;
    }
    &__box-text {
        width: 100%;
    }
}





.footer {
    background: rgba(223, 223, 223, 1);
    &__inner {
        padding: 61px 0 80px 0;
        display: flex;
        justify-content: space-between;
        column-gap: 10px;
    }
    &__contacts-title {
        @extend %title-font;
        color: $colorTitle;
        line-height: 23px;
        margin-bottom: 14px;
    }
    &__contacts-text {
        width: 476px;
        line-height: 27px; /* 168.75% */
        margin-bottom: 22px;
    }
    &__contacts-email {
        display: block;
        color: $colorTitle;
        font-size: 14px;
        font-weight: 600;
        line-height: 28px; /* 200% */
        padding-left: 37px;
        margin-bottom: 23px;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            top: 7px;
            left: 0;
            background-image: url(../images/icon_email.svg);
            background-repeat: no-repeat;
            background-size: cover;
            width: 23px;
            height: 17px;
        }
    }
    &__list {
        display: flex;
        flex-direction: column;
        row-gap: 15px;
    }
    &__list-link {
        color: rgba(112, 112, 112, 1);
        font-size: 14px;
        font-weight: 600;
        line-height: 28px; /* 200% */
        position: relative;
    }
    &__list-link.facebook {
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            background-image: url(../images/facebook.svg);
            background-repeat: no-repeat;
            background-size: cover;
            width: 18px;
            height: 18px;
        }
    }
    &__list-link.instagram {
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            background-image: url(../images/instagram.svg);
            background-repeat: no-repeat;
            background-size: cover;
            width: 18px;
            height: 18px;
        }
    }
    &__list-link.pinterest {
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            background-image: url(../images/pinterest.svg);
            background-repeat: no-repeat;
            background-size: cover;
            width: 18px;
            height: 18px;
        }
    }
    &__list-link.whatsapp {
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            background-image: url(../images/whatsapp.svg);
            background-repeat: no-repeat;
            background-size: cover;
            width: 18px;
            height: 18px;
        }
    }
    &__list-link.youtube {
        &::after {
            content: "";
            position: absolute;
            top: 5px;
            left: 0;
            background-image: url(../images/youtube.svg);
            background-repeat: no-repeat;
            background-size: cover;
            width: 18px;
            height: 12px;
        }
    }
    .facebook,
    .instagram,
    .pinterest,
    .whatsapp,
    .youtube {
        padding-left: 30px;
    }
    &__copyright {
        padding: 42px 0px;
        text-align: center;
        line-height: 28px; /* 175% */
        color: rgba(161, 161, 161, 1);
        background: $colorTitle;
    }
}

.form {
    display: flex;
    gap: 0 9px;
    &__text {
        width: 368px;
        color: $colorTitle;
        line-height: 28px; /* 175% */
        border-radius: 21px;
        border: 1px solid rgba($colorTitle, 0.7);
        padding: 6px 10px 6px 18px;
        &::placeholder {
            color: #a1a1a1;
        }
    }
    &__btn {
        width: 160px;
        border-radius: 21px;
        background: $colorTitle;
        padding: 6px 12px;
        color: #fffff0;
        text-align: center;
        font-weight: 600;
        line-height: 28px; /* 175% */
    }
}
